body {
  color : white;
}

main {
  height: 500px;
  width: 60%;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  resize: both;
  overflow: auto;
}

main div{
  background: salmon;
  color: white;
  width: 50%;
  padding: 20px;
  resize: both;
  overflow: auto;
  text-align: center;
}
